/** Importation des polices d'écriture */

@font-face {
    font-family: "Kanit-extra-bold";
    src: url("./fonts/Kanit-ExtraBold.ttf");
}

@font-face {
    font-family: "Kanit-extra-light";
    src: url(./fonts/Kanit-ExtraLight.ttf);
}

@font-face {
    font-family: "Martian-mono-extra-light";
    src: url(./fonts/MartianMono-ExtraLight.ttf);
}

@font-face {
    font-family: "Martian-Mono-Semi-Expanded-Medium";
    src: url(./fonts/MartianMono_SemiExpanded-Medium.ttf);
}

/** === GESTION DES BALISES COMMUNES === */

html {
    font-size: 1vw;
}

/** Propriétés body
*** Réinitialise la proprité margin à 0
*** Définit la couleur de fond du document et applique un gradient
*** Empêche la répétition du fond et fixe ce dernier
*** Définit la taille de police initiale
*/

body {
    margin: 0;
    background: #7F6AFA;
    background: linear-gradient(0deg, rgba(127, 106, 250, 1) 0%, rgba(105, 130, 250, 1) 50%, rgba(105, 176, 250, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 1vw;

    
    overflow-x: hidden;
}

/** Création d'une flexbox dans le header
Disposition en ligne
Aligne les éléments sur l'axe secondaire (horizontal)
*/

header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

/** Création d'une section main contenant le coeur de la page 
Disposition en grille
Création d'une grille suivant le modèle 4 colonnes / 4 lignes
*/

#main{
    display: grid;
    width: fit-content;

    grid-template-columns: repeat(4, 1fr);
    grid-template: 
    "MOTIV MOTIV  SOCIAL SOCIAL"
    "MOTIV MOTIV  CV CV"
    "MOTIV MOTIV  . .";
}

/** Proprités title-name 
*** Modifie la marge de l'élément
*** Aligne le texte au centre du conteneur, définit la taille de la police 
*** Met les caractères en majuscule 
*** Modifie la position de l'élément 
*/

#title-name {
    margin: 0.5rem;

    text-align: center;
    font-family: "Kanit-extra-bold";
    font-size: 4.5rem;
    text-transform: uppercase;

    border-bottom: 5px solid #6982FA;
}

/** Utilisation de clip-path pour ne pas afficher la partie de l'image en dehors du cercle
redimensionnement de l'image et positionnement sur le côté droit du titre
**/

#avatar {
    width: 200px;
    height: auto;
    clip-path: circle(38%);
}

/** Conteneur commun contenant les deux listes motivations et social
Définit une largeur minimum de 5% par rapport à l'élément main 
Largeur maximale définit automatiquement
**/

.nav-list {
    min-width: 5%;
    width: auto;
    height: auto;
    border: 3px solid #5E6FFA;
    border-radius: 5px;

    font-family: "Martian-Mono-Semi-Expanded-Medium";

    padding: 2rem;
}

/** Titre des conteneurs de liste **/

.nav-list-title {
    margin: 0;
    padding: 2rem;

    border-bottom: 5px solid #5E6FFA;

    text-align: center;
    font-size: 2vw;
}

/** === Propriétés propres à la partie motivations  === **/

/** Propriétés spécifiques au conteneur de liste motivation
Définit une largeur minimale et maximale 
Positionnement du conteneur **/

#nav-motivation {
    max-width: 70%;
    min-width: 20%;
    width: auto;

    margin-left: 5%;

    grid-area: MOTIV;
}

#list-motivation {
    font-size: 1.15vw;
    text-wrap: wrap;
}

/** Ajout d'un padding pour centrer les éléments dans le conteneur **/

#list-motivation li {
    padding: 1rem;
    list-style-type: none;
    list-style-type: square;
}

/** === Propriétés propres à partie social === **/

/** Définit le positionnement du conteneur **/

#nav-social {
    width: fit-content;
    height: fit-content;

    min-width: 20%;
    max-width: 80%;

    grid-area: SOCIAL;
}

/** Création d'une flexbox pour aligner les éléments de la liste en ligne
Empêche le retour à la ligne **/

#list-social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    text-align: justify;
}

/** Créer une bordure autours de chaque élément de liste 
** Retire les éléments de décoration de la liste 
** Ajoute une transition sur la propriété background color joué lors du changement d'état 
*/

#list-social li {
    border: 2px solid #5C4CB5;
    border-radius: 10px;
    margin: .45rem;
    padding: .45rem;
    list-style-type: none;

    transition-property: background-color;
    transition-duration: 0.35s;
    transition-timing-function: linear;
}

/** Modifie le fond d'écran au survol **/

#list-social li:hover {
    background-color: #5E6FFA;

}

#list-social a{
    text-decoration: none;
    color: black;
}

/** Gère les logos situés à droite du nom des profils sociaux **/

img {
    margin-right: 1rem;

    padding-left: 0.75rem;

    width: 15px;
    height: auto;
}

/** Conteneur du bouton "consuler mon cv"
** Détermine la taille de l'élément et sa position
** Fixe les règles de transition
*/

#nav-cv {

    margin-top: 1vw;

    min-width: 20%;
    max-width: 40%;
    min-height: 20%;
    max-height: 30%;



    align-items: center;

    width: auto;
    height: auto;

    grid-area: CV;

    transition-property: background-color, border-color;
    transition-duration: 0.35s;
    transition-timing-function: linear;
}

/** Modifie la propriété background-color au survol
** border-color est modifié pour que la bordure reste visible par l'utilisateur
*/

#nav-cv:hover{
    background-color: #5E6FFA;
    border-color: #5C4CB5;
}

#nav-cv a{
    text-decoration: none;
}

#cv-title{
    justify-content: center;
    border: none;
    font-size: 1vw;
    padding: 0;
    color: black;
}

#footer-note {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: "Martian-Mono-Semi-Expanded-Medium";
    font-size: 0.75rem;

    margin-top: 2rem;
}