/** Importation des polices d'écriture */

@font-face {
    font-family: "Kanit-extra-bold";
    src: url("./fonts/Kanit-ExtraBold.ttf");
}

@font-face {
    font-family: "Kanit-extra-light";
    src: url(./fonts/Kanit-ExtraLight.ttf);
}

@font-face {
    font-family: "Martian-mono-extra-light";
    src: url(./fonts/MartianMono-ExtraLight.ttf);
}

@font-face {
    font-family: "Martian-Mono-Semi-Expanded-Medium";
    src: url(./fonts/MartianMono_SemiExpanded-Medium.ttf);
}

/** === GESTION DES BALISES COMMUNES === */

html {
    font-size: 13px;
}

/** Propriétés body
*** Réinitialise la proprité margin à 0
*** Définit la couleur de fond du document et applique un gradient
*** Empêche la répétition du fond et fixe ce dernier
*** Définit la taille de police initiale
*/

body {
    margin: 0;
    background: #7F6AFA;
    background: linear-gradient(0deg, rgba(127, 106, 250, 1) 0%, rgba(105, 130, 250, 1) 50%, rgba(105, 176, 250, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 20px;

}

footer {}

/** Proprités title-name 
*** Modifie la marge de l'élément
*** Aligne le texte au centre du conteneur, définit la taille de la police 
*** Met les caractères en majuscule 
*** Modifie la position de l'élément 
*/

#title-name {
    margin: 0.5rem;

    text-align: center;
    font-family: "Kanit-extra-bold";
    font-size: 4.5rem;
    text-transform: uppercase;

    position: absolute;
    top: 5.5%;
    left: 25%;
    right: 25%;

    border-bottom: 5px solid #6982FA;
}

#avatar {
    width: 200px;
    height: auto;
    clip-path: circle(38%);

    position: absolute;
    z-index: auto;
    top: 0%;
    right: 10%;
    left: 75%;

}

.nav-list {
    min-width: 5%;
    width: auto;
    height: auto;
    border: 3px solid #5E6FFA;
    border-radius: 5px;

    overflow: scroll;

    font-family: "Martian-Mono-Semi-Expanded-Medium";

    padding: 2rem;

    .nav-list-title {
        margin: 0;
        padding: 2rem;

        border-bottom: 5px solid #5E6FFA;

        text-align: center;
        font-size: 2.5rem;
    }
}

#nav-motivation {
    max-width: 45%;
    min-width: 5%;
    width: auto;

    position: absolute;
    left: 3%;
    top: 25%;

    #list-motivation {
        text-align: justify;
        font-size: 1.5rem;
    }

    #list-motivation li {
        padding: 1rem;
        display: flex;
    }
}


#nav-social {
    position: absolute;
    left: 54%;
    top: 25%;

    width: auto;
    height: auto;

    #list-social {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        text-align: justify;
        text-overflow: "-";
    }

    #list-social li {
        border: 2px solid #5C4CB5;
        border-radius: 10px;
        margin: 0.45rem;
        padding: .45rem;
        list-style-type: none;
    }


    li:hover {
        background-color: #5E6FFA;
    }

    a{
        text-decoration: none;
    }

    img {
        font-size: 1rem;
        margin-right: 1rem;

        padding-left: 0.75rem;

        width: 15px;
        height: auto;
    }

}


#nav-cv {
    width: 25%;
    height: 15%;

    position: absolute;
    left: 54%;
    top: 60%;

    a {
        text-decoration: none;
    }

    #cv-title{
        border: none;
        padding: 3rem;
        color: black;
    }
}

#nav-cv:hover{
    background-color: #5C4CB5;
}

#footer-note {
    font-family: "Martian-Mono-Semi-Expanded-Medium";
    font-size: 0.75rem;

    position: fixed;
    left: 45%;
    top: 95%
}